dubbo:
  registry:
    address: nacos://${NACOS_SERVER_ADDR}
    username: ${NACOS_USERNAME}
    password: ${NACOS_PASSWORD}

cos:
  client:
    host: ${COS_HOST}
    secretId: ${COS_SECRET_ID}
    secretKey: ${COS_SECRET_KEY}
    region: ${COS_REGION}
    bucket: ${COS_BUCKET}
