app:
  cors:
    allowed-origins: https://aiapp.linwh.top

spring:
  datasource:
    url: jdbc:mysql://host.docker.internal:3305/lin_ai_code_mother?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  data:
    redis:
      host: host.docker.internal
      port: 6380
      password: ${REDIS_PASSWORD}

server:
  forward-headers-strategy: framework

dubbo:
  registry:
    address: nacos://${NACOS_SERVER_ADDR}
    username: ${NACOS_USERNAME}
    password: ${NACOS_PASSWORD}
